<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>GP Jewellers</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
	<a class="accessibility" href="#main">Skip to Content</a>
	<div class="wrapper">
		<div class="notice-block text-center">
			<div class="container">
				<p>Enjoy 15% off with two or more items & free shipping on all orders.</p>
			</div>
		</div>
		<header class="header">
			<div class="container container--header flex justify-content-between align-items-center">
				<a class="logo" href="#">
					<img src="images/logo-test.png" alt="CrediPro">
				</a>
				<div class="right-block flex align-items-center">
					<ul class="menu-right list-unstyled flex align-items-center">
						<li><a href="#" class="search-opener"><i class="icon-search"></i></a></li>
						<li><a href="#"><i class="icon-account"></i></a></li>
						<li><a href="#"><i class="icon-heart-fill"></i></a></li>
						<li><a href="#"><i class="icon-cart"></i></a></li>
					</ul>
					<a class="nav-opener" href="#">
						<span class="menu-bar"></span>
					</a>
				</div>
				<nav class="nav tb-flex">
					<ul class="menu list-unstyled tb-flex">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Product</a></li>
						<li><a href="#">Contact</a></li>
					</ul>

				</nav>
			</div>
		</header>
		<div class="search-wrap">
			<a class="close search-opener" href="#">
				<i class="icon-close"></i>
			</a>
			<div class="search-text">
				<div class="text">
					<span class="search-title">DO A RESEARCH</span>
					<form method="get" action="" class="search-form">
						<i class="icon-search"></i>
						<input
						type="search"
						id="search-input"
						name="s"
						placeholder="Recherche"
						value=""
						>
						<button type="submit">RESEARCH</button>
					</form>
				</div>
			</div>
		</div>
		<main class="main">
			<section class="banner view-item">
				<div class="banner-carousel swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide bg-img flex align-items-end justify-content-center" style="background-image: url(images/banner-img01.png);">
							<div class="text-box text-center fade fade-up">
								<h1>Cross body Bags for Women</h1>
								<p>FREE SHIPPING AVAILABLE!</p>
								<a href="#" class="btn">shop now </a>
							</div>
						</div>
						<div class="swiper-slide bg-img flex align-items-end justify-content-center" style="background-image: url(images/img11.png);">
							<div class="text-box text-center fade fade-up">
								<h1>Cross body Bags for Women</h1>
								<p>FREE SHIPPING AVAILABLE!</p>
								<a href="#" class="btn">shop now </a>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
		<!-- 			<div class="swiper-navigation flex justify-content-center">
						<button class="swiper-button swiper-button-prev">
							<i class="icon-chevron-left"></i>
						</button>
						<button class="swiper-button swiper-button-next">
							<i class="icon-chevron-right"></i>
						</button>
					</div> -->
				</div>
			</section>
			<section class="site-section view-item">
				<div class="container fade fade-up">
					<div class="partners-carousel swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#" class="logo">
									<img src="images/partners-logo01.png" alt="image description">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="logo">
									<img src="images/partners-logo02.png" alt="image description">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="logo">
									<img src="images/partners-logo03.png" alt="image description">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="logo">
									<img src="images/partners-logo04.png" alt="image description">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="logo">
									<img src="images/partners-logo05.png" alt="image description">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="logo">
									<img src="images/partners-logo06.png" alt="image description">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="logo">
									<img src="images/partners-logo07.png" alt="image description">
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="site-section view-item">
				<div class="container">
					<div class="product-gallery tb-flex">
						<div class="product-gallery-card bg-img black-overlays flex flex-column justify-content-end fade fade-up" style="background-image: url(images/img01.png);">
							<a href="#" class="whole-link"></a>
							<div class="inner-text">
								<span>4 products</span>
								<h2>Stylish Clear Eyeglasses</h2>
							</div>
						</div>
						<div class="product-gallery-card bg-img black-overlays flex flex-column justify-content-end fade fade-up" style="background-image: url(images/img02.png);">
							<a href="#" class="whole-link"></a>
							<div class="inner-text">
								<span>4 products</span>
								<h2>Gold & Silver Rings</h2>
							</div>
						</div>
						<div class="product-gallery-card bg-img black-overlays flex flex-column justify-content-end fade fade-up" style="background-image: url(images/img03.png);">
							<a href="#" class="whole-link"></a>
							<div class="inner-text">
								<span>9 products</span>
								<h2>Luxury Handbag</h2>
							</div>
						</div>
						<div class="product-gallery-card bg-img black-overlays flex flex-column justify-content-end fade fade-up" style="background-image: url(images/img04.png);">
							<a href="#" class="whole-link"></a>
							<div class="inner-text">
								<span>8 products</span>
								<h2>Premium Collections</h2>
							</div>
						</div>
						<div class="product-gallery-card product-gallery-card--text-block fade fade-up">
							<div class="text-block text-center flex flex-column align-items-center justify-content-center">
								<h2>G&P New Collection</h2>
								<span>DIAMOND JEWELRY</span>
							</div>
							<div class="bg-img bg-img-sm black-overlays flex flex-column justify-content-end" style="background-image: url(images/img05.png);">
								<a href="#" class="whole-link"></a>
								<div class="inner-text">
									<span>4 products</span>
									<h2>Watches For Men</h2>
								</div>
							</div>
						</div>
						<div class="product-gallery-card bg-img black-overlays flex flex-column justify-content-end fade fade-up" style="background-image: url(images/img06.png);">
							<a href="#" class="whole-link"></a>
							<div class="inner-text">
								<span>3 products</span>
								<h2>Necklaces & Pendants</h2>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="site-section view-item">
				<div class="container">
					<h2 class="fade fade-up">FEATURE PRODUCT</h2>
					<div class="tabs" id="tabs">
						<ul class="tabset list-unstyled flex fade fade-up">
							<li>
								<a class="active" href="#tab01">Earrings</a>
							</li>
							<li>
								<a href="#tab02">Necklaces</a>
							</li>
							<li>
								<a href="#tab03">Rings</a>
							</li>
							<li>
								<a href="#tab04">Handbags</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab active" id="tab01">
								<div class="product-card-wrap flex">
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="discounted-price">$100.99</span>
											<span class="price">$149.99</span>
										</div>
									</div>
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="price">$149.99</span>
										</div>
									</div>
								</div>
							</div>
							<div class="tab" id="tab02">
								<div class="product-card-wrap flex">
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="price">$149.99</span>
										</div>
									</div>
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="price">$149.99</span>
										</div>
									</div>
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="price">$149.99</span>
										</div>
									</div>
								</div>
							</div>
							<div class="tab" id="tab03">
								<div class="product-card-wrap flex">
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="price">$149.99</span>
										</div>
									</div>
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="price">$149.99</span>
										</div>
									</div>
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="price">$149.99</span>
										</div>
									</div>
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="price">$149.99</span>
										</div>
									</div>
								</div>
							</div>
							<div class="tab" id="tab04">
								<div class="product-card-wrap flex">
									<div class="product-card fade fade-up">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text">
											<h3>Stone Short Drop Earrings</h3>
											<span class="price">$149.99</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="site-section product-carousel-section view-item">
				<div class="container">
					<div class="product-carousel swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide tb-flex align-items-center">
								<div class="left-block">
									<div class="heading-text text-center fade fade-up">
										<h2>Necklaces and Pendants for Women</h2>
										<p>Sale Off 50% – Limited Time Only</p>
									</div>
									<div class="counter-clock flex align-items-center justify-content-between fade fade-up">
										<div class="days-block text-center">
											<span class="days">666</span>
											<span class="text">Days</span>
										</div>
										<span class="dots">:</span>
										<div class="hours-block text-center">
											<span class="hours">08</span>
											<span class="text">Hours</span>
										</div>
										<span class="dots">:</span>
										<div class="minutes-block text-center">
											<span class="minutes">16</span>
											<span class="text">Mins</span>
										</div>
										<span class="dots">:</span>
										<div class="seconds-block text-center">
											<span class="seconds">05</span>
											<span class="text">Secs</span>
										</div>
									</div>
								</div>
								<div class="product-showcase fade fade-up">
									<div class="big-img bg-img" style="background-image: url(images/img11.png);"></div>
									<div class="product-card product-card--horizontal flex">
										<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
										<div class="text flex flex-column align-items-center justify-content-center">
											<h3>Flash sale</h3>
											<div class="price-block tb-flex align-items-center">
												<span class="discounted-price">$100.99</span>
												<span class="price">$149.99</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-navigation flex justify-content-center">
							<button class="swiper-button swiper-button-prev">
								<i class="icon-chevron-left"></i>
							</button>
							<button class="swiper-button swiper-button-next">
								<i class="icon-chevron-right"></i>
							</button>
						</div>
					</div>
				</div>
			</section>
			<section class="site-section view-item">
				<div class="container">
					<h2 class="fade fade-up">NEW ARRIVALS</h2>
					<div class="product-card-wrap flex">
						<div class="product-card fade fade-up">
							<div class="tag"><span>-50%</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
						<div class="product-card fade fade-up">
							<div class="tag"><span >Hot</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
						<div class="product-card fade fade-up">
							<div class="tag"><span>-50%</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
						<div class="product-card fade fade-up">
							<div class="tag"><span >Hot</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
						<div class="product-card fade fade-up">
							<div class="tag"><span>-50%</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
						<div class="product-card fade fade-up">
							<div class="tag"><span >Hot</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
						<div class="product-card fade fade-up">
							<div class="tag"><span>-50%</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
						<div class="product-card fade fade-up">
							<div class="tag"><span >Hot</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
						<div class="product-card fade fade-up">
							<div class="tag"><span>-50%</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
						<div class="product-card fade fade-up">
							<div class="tag"><span >Hot</span></div>
							<div class="img bg-img" style="background-image: url(images/img07.png);"></div>
							<div class="text">
								<h3>Stone Short Drop Earrings</h3>
								<span class="discounted-price">$100.99</span>
								<span class="price">$149.99</span>
							</div>
							<ul class="product-action-buttons list-unstyled">
								<li>
									<a href="#" class="wishlist"><i class="icon-heart-o"></i></a>
								</li>
								<li>
									<a href="#" class="add-to-cart"><i class="icon-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="site-section view-item">
				<div class="container">
					<h2 class="fade fade-up">LATEST IN BLOG</h2>
					<div class="blog-carousel swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide blog-card-wrap fade fade-up">
								<div class="blog-card bg-img flex justify-content-center" style="background-image: url(images/img13.png);">
									<div class="text-block flex flex-column">
										<a href="#" class="whole-link"></a>
										<h3>Is it Better to Buy Limited Edition Watches?</h3>
										<div class="description">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium mollis ex, vel interdum</p>
											<a href="#" class="text-btn">continue</a>
										</div>
									</div>
								</div>
								<ul class="blog-author-details flex align-items-center list-unstyled fade fade-up">
									<li>
										<span class="date">Nov 12, 2022</span>
									</li>
									<li class="author">
										<span>By</span>
										<a href="#">Admin</a>
									</li>
									<li class="cats-link">
										<span>In</span>
										<a href="#">Fine Watches</a>
									</li>
								</ul>
							</div>
							<div class="swiper-slide blog-card-wrap fade fade-up">
								<div class="blog-card bg-img flex justify-content-center" style="background-image: url(images/img14.png);">
									<div class="text-block flex flex-column">
										<a href="#" class="whole-link"></a>
										<h3>Is it Better to Buy Limited Edition Watches?</h3>
										<div class="description">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium mollis ex, vel interdum</p>
											<a href="#" class="text-btn">continue</a>
										</div>
									</div>
								</div>
								<ul class="blog-author-details flex align-items-center list-unstyled fade fade-up">
									<li>
										<span class="date">Nov 12, 2022</span>
									</li>
									<li class="author">
										<span>By</span>
										<a href="#">Admin</a>
									</li>
									<li class="cats-link">
										<span>In</span>
										<a href="#">Fine Watches</a>
									</li>
								</ul>
							</div>
							<div class="swiper-slide blog-card-wrap fade fade-up">
								<div class="blog-card bg-img flex justify-content-center" style="background-image: url(images/img15.png);">
									<div class="text-block flex flex-column">
										<a href="#" class="whole-link"></a>
										<h3>Is it Better to Buy Limited Edition Watches?</h3>
										<div class="description">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium mollis ex, vel interdum</p>
											<a href="#" class="text-btn">continue</a>
										</div>
									</div>
								</div>
								<ul class="blog-author-details flex align-items-center list-unstyled fade fade-up">
									<li>
										<span class="date">Nov 12, 2022</span>
									</li>
									<li class="author">
										<span>By</span>
										<a href="#">Admin</a>
									</li>
									<li class="cats-link">
										<span>In</span>
										<a href="#">Fine Watches</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="site-section newsletter bg-img text-center view-item" style="background-image: url(images/img16.png);">
				<div class="container">
					<h2 class="fade fade-up">NEWSLETTER SIGN UP</h2>
					<p class="fade fade-up">Enjoy 15% off* your first order when you sign up to our newsletter</p>
					<form class="newsletter-form fade fade-up" action="#">
						<input type="email" placeholder="Your e-mail address">
						<button type="submit">Subscribe</button>
					</form>
				</div>
			</section>
		</main>
		<a class="back-to-top" href="#">
			<i class="icon-long-arrow-up"></i>
		</a>
		<footer class="footer text-center">
			<div class="container">
				<div class="footer-top tb-flex justify-content-between">
					<div class="left-block">
						<a href="#" class="logo"><img src="images/logo-test.png" alt="image description"></a>
						<ul class="social-links list-unstyled flex justify-content-center">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
					<div class="footer-links-block flex justify-content-center">
						<div class="footer-links-wrap">
							<strong>SERVICES</strong>
							<ul class="footer-links list-unstyled">
								<li><a href="#">Lorem Ipsum</a></li>
								<li><a href="#">Lorem Ipsum</a></li>
								<li><a href="#">Lorem Ipsum</a></li>
							</ul>
						</div>
						<div class="footer-links-wrap">
							<strong>ABOUT</strong>
							<ul class="footer-links list-unstyled">
								<li><a href="#">Lorem Ipsum</a></li>
								<li><a href="#">Lorem Ipsum</a></li>
								<li><a href="#">Lorem Ipsum</a></li>
							</ul>
						</div>
						<div class="footer-links-wrap">
							<strong>DELIVERY & RETURN</strong>
							<ul class="footer-links list-unstyled">
								<li><a href="#">Lorem Ipsum</a></li>
								<li><a href="#">Lorem Ipsum</a></li>
								<li><a href="#">Lorem Ipsum</a></li>
							</ul>
						</div>
						<div class="footer-links-wrap">
							<strong>CUSTOMER SERVICES</strong>
							<ul class="footer-links list-unstyled">
								<li><a href="#">Lorem Ipsum</a></li>
								<li><a href="#">Lorem Ipsum</a></li>
								<li><a href="#">Lorem Ipsum</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-bottom text-center">
					<p>© G&P. All Rights Reserved.</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
