// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

///*
//  Set up a decent box model on the root element
//*/

// set html { font-size: 62.5%; } if you want to make 1rem equal to 10px. dot not use it with css frameworks like bootstrap. tailwind etc.

/*
  Basic typography style for copy text
*/
body {
	color: $body-color;
	font-family: $font-family-base;
	font-size: map-get($font-sizes, "base");
	line-height: $line-height-base;

	@include media(">=tablet") {
		font-size: 1.3021vw;
		line-height: 1.8;
	}
}

/*
  Basic styles for links
*/
a {
	@include transition(color background-color);
	color: $link-color;
	text-decoration: $link-decoration;
}

ul,
ol,
dl,
p {
	margin: 0 0 $paragraph-margin-bottom;



	&:last-child {
		margin-bottom: 0;
	}
}

strong {
	font-weight: 400;
}

@each $name, $value in $headings-sizes {
	#{$name},
	.#{$name} {
		font-size: map-get($headings-sizes, $name);
		line-height: map-get($headings-line-height, $name);
		margin: 0 0 map-get($headings-margin-bottom, $name);
		font-weight: $font-weight-normal;
		text-transform: uppercase;

		@include media(">=tablet") {
			font-size: map-get($headings-sizes-max, $name);
			line-height: map-get($headings-line-height-max, $name);
			margin-bottom: map-get($headings-margin-bottom-max, $name);
		}
	}
}

